/* App.css */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.App {
  min-height: 100vh;
  background: linear-gradient(to bottom, #f1bf14, #fae8b0);
  background-repeat: no-repeat;
  background-size: 100% auto;  /* Ensures the gradient fills the entire screen */
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding: 0;
  margin: 0;
}
